.accountProfile{
	background-image: url(../img/Profile/PROFILE-11.png);
	background-size: 100% 100%;
	height: 700px;
	background-repeat: no-repeat;

}

.editName{
	margin-left: 10%;
	margin-top: 40%;
}

.editEmail{
	margin-left: 10%;
	margin-top: 1%;
}

.editPassword{
	margin-left: 10%;
	margin-top: 2%;
}

.selectFoundation{
	margin-left: 10%;
	margin-top: 1%;
}

.selectLanguage{
	margin-left: 10%;
	margin-top: 2%;
}

.previewProfile{
	margin-left: 10%;
	margin-top: 3%;
}