
.Header{
	background-color: red;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 70px;
}

.Logo{
	background-color: yellow;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 100px;
}


.Footer{
	background-color: green;
	height: 30px;
}


/*Navigation Bar CSS----------------------------------------------------*/

.homeButton{
	background-image: url(../img/MainElements/Home-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.homeButton:hover{
	background-image: url(../img/MainElements/Home-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.exploreButton{
	background-image: url(../img/MainElements/Kids-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.exploreButton:hover{
	background-image: url(../img/MainElements/Kids-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.notificationButton{
	background-image: url(../img/MainElements/Notif-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.notificationButton:hover{
	background-image: url(../img/MainElements/Notif-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}


.coinButton{
	background-image: url(../img/MainElements/Coins-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.coinButton:hover{
	background-image: url(../img/MainElements/Coins-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.searchButton{
	background-image: url(../img/MainElements/Search-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

.searchButton:hover{
	background-image: url(../img/MainElements/Search-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
}

/*Widget Bar Css---------------------------------------------------------*/

.pickMeButton{
	background-image: url(../img/MainElements/Pickme-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.pickMeButton:hover{
	background-image: url(../img/MainElements/Pickme-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.recommendedButton{
	background-image: url(../img/MainElements/Recommended-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.recommendedButton:hover{
	background-image: url(../img/MainElements/Recommended-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.emergencyButton{
	background-image: url(../img/MainElements/Emergency-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.emergencyButton:hover{
	background-image: url(../img/MainElements/Emergency-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

/*News Feed Division------------------------------------------------*/

.newsFeed{
	background-image: url(../img/MainElements/Newsfeed-box.png);
	background-size: 100% 80%;
	height:544px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;

}

.notifFeed{
	background-image: url(../img/MainElements/Notif-box.png);
	background-size: 100% 80%;
	height:544px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;

}


