.container{
	width:1080px;
}

.testBackground{
	background-image: url(../img/MainElements/MainPage-begron1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Header{
	background-image: url(../img/MainElements/Footer-Header.png);
	background-size: 100% 100%;
	height: 48px;
	background-repeat: no-repeat;
}

.Logo{
	background-image: url(../img/Logo.png);
	background-size: 80% 80%;
	margin-top: 2%;
	margin-left: 6%;
	width: 321px;
	height: 126px;
	background-repeat: no-repeat;

}


.Footer{
	background-color: #91DBF2;
	/*	background-image: url(../img/MainElements/Footer-Header.png);*/
	background-size: 100% 100%;
	height: 48px;
	background-repeat: no-repeat;
}

.paddingLeft{
	padding-left: 4%;
}


/*Navigation Bar CSS----------------------------------------------------*/

.homeButton{
	background-image: url(../img/MainElements/Home-button.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 2px #000000;
	border-radius: 13px;
}

.homeButton:hover{
	background-image: url(../img/MainElements/Home-button-rollover.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 1px #000000;
	border-radius: 13px;
}

.exploreButton{
	background-image: url(../img/MainElements/Kids-button.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 2px #000000;
	border-radius: 13px;
}

.exploreButton:hover{
	background-image: url(../img/MainElements/Kids-button-rollover.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 1px #000000;
	border-radius: 13px;
}

.notificationButton{
	background-image: url(../img/MainElements/Notif-button.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 2px #000000;
	border-radius: 13px;
}

.notificationButton:hover{
	background-image: url(../img/MainElements/Notif-button-rollover.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 1px #000000;
	border-radius: 13px;
}


.coinButton{
	background-image: url(../img/MainElements/Coins-button.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 2px #000000;
	border-radius: 13px;
}

.coinButton:hover{
	background-image: url(../img/MainElements/Coins-button-rollover.png);
	height:74px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 1px #000000;
	border-radius: 13px;
}

.searchButton{
	background-image: url(../img/MainElements/Search-button.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 2px #000000;
	border-radius: 13px;
}

.searchButton:hover{
	background-image: url(../img/MainElements/Search-button-rollover.png);
	height:70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: transparent;
	box-shadow: 0px 1px 1px #000000;
	border-radius: 13px;
}

/*Widget Bar Css---------------------------------------------------------*/

.pickMeButton{
	background-image: url(../img/MainElements/Pickme-160.png);
	background-size: 70% 70%;
	background-repeat: no-repeat;
	height: 140px;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.pickMeButton:hover{
	background-image: url(../img/MainElements/Pickme-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.recommendedButton{
	background-image: url(../img/MainElements/Recommended-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.recommendedButton:hover{
	background-image: url(../img/MainElements/Recommended-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.emergencyButton{
	background-image: url(../img/MainElements/Emergency-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.emergencyButton:hover{
	background-image: url(../img/MainElements/Emergency-txt-160.png);
	height:140px;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;
}

.emergencyButtonBox{
	background-image: url(../img/MainElements/Emergency-middlebox.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

/*News Feed Division------------------------------------------------*/

.newsFeed{
	background-image: url(../img/MainElements/Newsfeed-box.png);
	background-size: 100% 100%;
	height:544px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;

}

/*Notification Feed Division--------------------------------------*/
.notifFeed{
	background-image: url(../img/MainElements/Notif-box.png);
	background-size: 100% 80%;
	height:544px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;

}


.coinsFeed{
	background-image: url(../img/MainElements/Coins-box.png);
	background-size: 100% 80%;
	height:544px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
	border: transparent;

}

/*Modal division Division------------------------------------------- */

.modal-body{
	height: 600px !important;
}

.modalPink{
	background-color: #F4B3CE;

}
.padding{
	padding-left: 3%;
}




